  <br>
  <h2 style="font-family: 'Times New Roman', Times, serif;margin-top:70px">
    This Blog App helps you connect and share with the people in your life.
  </h2>
<br>
<br>
<img src="https://d1qrsxz7x3ewsw.cloudfront.net/wp-content/uploads/2017/03/shortstack-blog-best-social-networks.jpg" 
class="responsive" >

