  <br>
  <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">This Blog App helps you connect and share with the people in your life.</h2>
<br>
<br>
<img src="https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/OBaVg52wtTZ.png" >

