  <br>
  <h2 style="font-family: 'Times New Roman', Times, serif;margin-top:70px">
    This Blog App helps you connect and share with the people in your life.
  </h2>
<br>
<br>
<img src="https://www.lyfemarketing.com/blog/wp-content/uploads/2017/09/importance-of-social-media-in-business.jpg" 
class="responsive" >

