  <br>
  <h2 style="font-family: Georgia, 'Times New Roman', Times, serif;">This Blog App helps you connect and share with the people in your life.</h2>
<br>
<br>
<img src="https://whyshouldntijustwrite.files.wordpress.com/2015/04/social-network-connection-diagram-19022914.jpg" >

